.gray {
  width: 100%;
  /* height: 100%; */
  padding: 10px;
  background-color: #ccc;
  display: flex;
  justify-content: flex-start;
  /* overflow: scroll; */
}

#canvas {
 display: flex;
}

.pos {
  width: 10%;
  margin: 5px 10px;
}

.controles {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  
  flex-wrap: wrap;
}
.controles > button {
  margin: 10px 2px;
}
/* .animacion {
  height: 1000px;
} */

.container-animacion {
  overflow: scroll;
  height: 50vh;
}

