.gray {
  width: 850px;
  height: 850px;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
}

#canvas {
 display: flex;
}

.pos {
  width: 10%;
  margin: 5px 10px;
}

.controles {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
}