<div class="animacion">
  <div class="controles">
    <button mat-raised-button type="button" color="primary" (click)="vaciarMezcla()">Vaciar Tanque</button>
    <button mat-raised-button type="button" color="primary" (click)="llenarMezcla()">Llenar Tanque</button>
    <button mat-raised-button type="button" color="accent" (click)="loadMateriaPrima2()">Cargar Materias Primas </button>
    <br>
    <button mat-raised-button type="button" color="primary" (click)="addTanque()">Add Tanque</button>
  </div>

  <h3>Animacion Canvas</h3>
  <div class="ubication">

    <mat-form-field appearance="fill" class="pos">
      <mat-label>Tanque</mat-label>
      <mat-select [formControl]="formControlTanque" >
        <mat-option *ngFor="let tanque of tanques; index as i" [value]="tanque['id']">
          Tanque: #{{tanque.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="pos">



      <mat-label>PosX</mat-label>
      <input matInput (change)="dibujar()" [(ngModel)]="posX" type="number">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <!-- <mat-hint>Descripcion de la materia prima</mat-hint> -->

    </mat-form-field>

    <mat-form-field appearance="fill" class="pos">
      <mat-label>PosY</mat-label>
      <input matInput (change)="dibujar()" [(ngModel)]="posY" type="number">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <!-- <mat-hint>Descripcion de la materia prima</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="pos">
      <mat-label>Size %</mat-label>
      <input matInput (change)="dibujar()" [(ngModel)]="size" type="number">
      <mat-icon matSuffix>%</mat-icon>
      <!-- <mat-hint>Descripcion de la materia prima</mat-hint> -->
    </mat-form-field>
  </div>

  <div class="gray">
    <canvas #canvas width="800" height="800" (click)="estados()"></canvas>
  </div>

  <h4>Fin animacion</h4>
</div>