.input-linea-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-linea-button>.btn {
  margin-left: 10px;
}
.invalid-feedback {
  display: block;
  margin-top: -15px;
  margin-bottom: 15px;
}

.ancho-completo {
  width: 100%;
}

.right-align {
  text-align: right;
}

input.right-align {
  -moz-appearance: textfield;
}