<form [formGroup]="recetaForm" (ngSubmit)="guardarReceta()">
  <div class="">
    <div class="form-row">

      <div class="col-md-6">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Referencia</mat-label>
          <mat-select [formControl]="referencia_producto_id">
            <mat-option *ngFor="let item of referencias; index as i" [value]="item['id']">{{item.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isInvalid_campo(referencia_producto_id)">{{ getErrorMessage(referencia_producto_id) }}</mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-6">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Tipo</mat-label>
          <mat-select [formControl]="tipo_producto_id">
            <mat-option *ngFor="let item of tipos; index as i" [value]="item['id']">{{item.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isInvalid_campo(tipo_producto_id)">{{ getErrorMessage(tipo_producto_id) }}</mat-error>
        </mat-form-field>

      </div>

    </div>


    <div formArrayName="materias_primas" *ngFor="let materiaPrima of materias_primas.controls, index as i">
      <div [formGroupName]="i">
        <div class="form-row">
          <div class="col-md-6">

            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Materia Prima {{ i + 1 }}</mat-label>
              <mat-select formControlName="materia_prima_id">
                <mat-option *ngFor="let item of materias_primas_seleccionar; index as i" [value]="item['id']">{{item.descripcion}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isInvalid_campo(materia_prima_id_by_index(i))">{{ getErrorMessage(materia_prima_id_by_index(i)) }}</mat-error>
            </mat-form-field>

          </div>

          <div class="col-md-6">

            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Cantidad Materia Prima {{i + 1}} <span class="input-group-text">(%)</span></mat-label>
              <input matInput type="number" formControlName="porcentaje" min="0" class="right-align">
              <span matSuffix>%</span>
              <mat-error *ngIf="isInvalid_campo(materia_prima_porcentaje_by_index(i))">{{ getErrorMessage(materia_prima_porcentaje_by_index(i)) }}</mat-error>
            </mat-form-field>

          </div>
        </div>

      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success" (click)="agregarMateriaPrima()">
    Agregar Materia Prima
  </button>
  <hr size="10">
  <div class="form-row">

    <div class="col-md-6">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Densidad</mat-label>
          <input matInput type="number" [formControl]="densidad" min="0" class="right-align">
          <span matSuffix>&nbsp;Ton/ml</span>
          <mat-error *ngIf="isInvalid_campo(densidad)">{{ getErrorMessage(densidad) }}</mat-error>
        </mat-form-field>

    </div>

    <div class="col-md-6">

      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Tiempo premezclado <span class="input-group-text">(Min.)</span></mat-label>
        <input matInput type="number" [formControl]="tiempo_premezclado" min="0" class="right-align">
        <span matSuffix>&nbsp;Min.</span>
        <mat-error *ngIf="isInvalid_campo(tiempo_premezclado)">{{ getErrorMessage(tiempo_premezclado) }}</mat-error>
      </mat-form-field>

    </div>

    <div class="col-md-6">

      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Temperatura precalentamiento <span class="input-group-text">(ºC)</span></mat-label>
        <input matInput type="number" [formControl]="temperatura_precalentamiento" min="0" class="right-align">
        <span matSuffix>&nbsp;ºC</span>
        <mat-error *ngIf="isInvalid_campo(temperatura_precalentamiento)">{{ getErrorMessage(temperatura_precalentamiento) }}</mat-error>
      </mat-form-field>

    </div>

    <div class="col-md-6">

      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Tiempo precalentamiento <span class="input-group-text">(Min.)</span></mat-label>
        <input matInput type="number" [formControl]="tiempo_precalentamiento" min="0" class="right-align">
        <span matSuffix>&nbsp;Min.</span>
        <mat-error *ngIf="isInvalid_campo(tiempo_precalentamiento)">{{ getErrorMessage(tiempo_precalentamiento) }}</mat-error>
      </mat-form-field>

    </div>

    <div class="col-md-6">

      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Tiempo Mezclado <span class="input-group-text">(Min.)</span></mat-label>
        <input matInput type="number" [formControl]="tiempo_mezclado" min="0" class="right-align">
        <span matSuffix>&nbsp;Min.</span>
        <mat-error *ngIf="isInvalid_campo(tiempo_mezclado)">{{ getErrorMessage(tiempo_mezclado) }}</mat-error>
      </mat-form-field>

    </div>

    <div class="col-md-6">

      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Temperatura Calentamiento <span class="input-group-text">(ºC)</span></mat-label>
        <input matInput type="number" [formControl]="temperatura_calentamiento" min="0" class="right-align">
        <span matSuffix>&nbsp;ºC</span>
        <mat-error *ngIf="isInvalid_campo(temperatura_calentamiento)">{{ getErrorMessage(temperatura_calentamiento) }}</mat-error>
      </mat-form-field>

    </div>
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>

<h3>Recetas Referencias</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Materia Primas</th>
      <th scope="col">Cantidad Materia Primas </th>
      <th scope="col">Densidad</th>
      <th scope="col">Referencia </th>
      <th scope="col">Tipo</th>
      <th scope="col">Tiempo premezclado</th>
      <th scope="col">Temperatura precalentamiento</th>
      <th scope="col">Tiempo precalentamiento</th>
      <th scope="col">Tiempo mezclado</th>
      <th scope="col">Temperatura calentamiento</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let receta of recetas; index as i">
      <th scope="row">{{ i + 1}}</th>
      <td>
        <ol>
          <li *ngFor="let item of receta.materias_primas; index as i">
            {{item.descripcion }}</li>
        </ol>
      </td>
      <td>
        <ol>
          <li *ngFor="let item of receta.materias_primas; index as i">{{item.MateriaPrimaReceta.porcentaje}}%</li>
        </ol>
      </td>
      <td>{{ receta.densidad }}</td>
      <td>{{ receta.referencia_producto.descripcion }}</td>
      <td>{{ receta.tipo_producto.descripcion }}</td>
      <td>{{ receta.tiempo_premezclado}}</td>
      <td>{{ receta.temperatura_precalentamiento }}</td>
      <td>{{ receta.tiempo_precalentamiento }}</td>
      <td>{{ receta.tiempo_mezclado }}</td>
      <td>{{ receta.temperatura_calentamiento }}</td>
      <td> <button class="btn btn-danger" (click)="borrarReceta(receta['id'])">Eliminar</button> </td>
    </tr>
  </tbody>
</table>