.caja-tabla > table {
  width: 100%;
}

.options {
  display: flex;
  margin-bottom: 20px;
}

.reintento-ejecutar {
  margin-bottom: 20px;
}

.badge {
  font-size: 0.8rem;
}

.caja-tabla {
  z-index: inherit;
}

.table-materias-primas {
  width: 80%;
}

.mat-form-field {
  font-size: 1rem;
  width: 50%;
}

th.mat-sort-header-sorted {
  color: black;
}

.table-responsive {
  padding: 15px;
}

.mat-table {
  
  width: 100%;
  min-width: 1200px;
}

.mat-column-select {
  overflow: initial;
}

.columna-materias-primas {
  min-width: 280px;
  text-align: center;
}
.columna-prioridad{
  min-width: 90px;
  text-align: center;
}

.columna-referencia_producto{
  min-width: 110px;
  text-align: left;
}
.columna-tipo_producto{
  min-width: 90px;
  text-align: left;
}

.columna-presentacion_producto {
  min-width: 90px;
}

.columna-cantidad {
  min-width: 80px;
}

td.columna-cantidad {
  text-align: right;
}

.columna-lotes_ejecutados {
  min-width: 80px;
  text-align: center;
}

.columna-lotes_totales {
  min-width: 80px;
  text-align: center;
}

.columna-estado {
  min-width: 80px;
  text-align: center;
}

.columna-tiene_observaciones {
  min-width: 100px;
  text-align: center;
}

.colorGreen {
  background-color: green;
}

.columna-detalle-reporte{
  min-width: 230px;
}

.columna-detalle{
  min-width: 60px;
}

button {
  margin-left: 10px;
}
