<div class="caja-tabla">

  <div *ngIf="showBotonReintentoEjecutar()" class="reintento-ejecutar">
    <button mat-raised-button color="primary" (click)="reintentarOrdenes()">Reintentar Ejecutar</button>
  </div>
  <div *ngIf="isGenerada" class="options">
    <button mat-raised-button color="primary" (click)="aprobar_ordenes()">Aprobar Ordenes</button>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
  </mat-form-field>

  <div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-id"> No. </th>
      <td mat-cell *matCellDef="let element" class="columna-id">
        <mat-checkbox color="primary" [(ngModel)]="element.select"> {{element.id}} </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-cliente"> Cliente </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.orden_pedido.cliente}} </td> -->
      <td mat-cell *matCellDef="let element" class="columna-cliente"> {{element.cliente}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="prioridad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-prioridad"> Prioridad </th>
      <td mat-cell *matCellDef="let element" class="columna-prioridad">
        <!-- <span [class]="colorBadgePrioridad(element.orden_pedido.prioridad.nivel)">
          {{element.orden_pedido.prioridad.descripcion.toUpperCase()}}
        </span> -->
        <span [class]="colorBadgePrioridad(element.prioridad_nivel)">
          {{element.prioridad_descripcion.toUpperCase()}}
        </span>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="referencia_producto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-referencia_producto"> Referencia </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.orden_pedido.receta.referencia_producto.descripcion}} </td> -->
      <td mat-cell *matCellDef="let element" class="columna-referencia_producto"> {{element.referencia_producto_descripcion}} </td>
    </ng-container>

    <!--  -->
    <ng-container matColumnDef="tipo_producto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-tipo_producto"> Tipo </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.orden_pedido.receta.tipo_producto.descripcion}} </td> -->
      <td mat-cell *matCellDef="let element" class="columna-tipo_producto"> {{element.tipo_producto_descripcion}} </td>
    </ng-container>

    <!--  -->
    <ng-container matColumnDef="presentacion_producto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-presentacion_producto"> Presentacion </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.orden_pedido.presentacion_producto.descripcion}} </td> -->
      <td mat-cell *matCellDef="let element" class="columna-presentacion_producto"> {{element.presentacion_descripcion}} </td>
    </ng-container>

    <!--  -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-cantidad"> Cantidad (Ton) </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td> -->
      <td mat-cell *matCellDef="let element" class="columna-cantidad"> {{element.cantidad_toneladas | number }} </td>
    </ng-container>

    <!--  -->
    <ng-container matColumnDef="materias_primas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-materias-primas"> Materias Primas </th>
      <td mat-cell *matCellDef="let element">
        <!-- <table class="table-materias-primas">
          <tr *ngFor="let item of element.orden_pedido.receta.materias_primas">
            <td>{{item.descripcion }}</td>
            <td align="right"> {{ materiaPrimaPorcentaje(item, element.cantidad) }} Ton</td>
            <td align="right">{{ item.MateriaPrimaReceta.porcentaje }}%</td>
          </tr>
        </table> -->

        <table class="table-materias-primas">
          <tr *ngFor="let item of element.materias_primas">
            <td>{{item.descripcion }}</td>
            <td align="right"> {{ materiaPrimaPorcentaje(item, element.cantidad_toneladas) }} Ton</td>
            <td align="right">{{ item.MateriaPrimaReceta.porcentaje }}%</td>
          </tr>
        </table>
      </td>
    </ng-container>

    <!--  -->
    <ng-container matColumnDef="lotes_ejecutados">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lotes ejecutados </th>
      <td mat-cell *matCellDef="let element"> {{element.lotes_ejecutados}} </td>
    </ng-container>

    <!--  -->
    <ng-container matColumnDef="lotes_totales">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lotes totales </th>
      <td mat-cell *matCellDef="let element"> {{element.lotes_totales}} </td>
    </ng-container>

    <!--  -->
    <ng-container matColumnDef="fecha_inicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_inicio || 'N/A' }} </td>
    </ng-container>

    <!--  -->
    <ng-container matColumnDef="fecha_terminado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Terminado </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_terminado || 'N/A' }} </td>
    </ng-container>

    <!--  -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let element">
        <!-- <span [class]="colorBadgeEstadoOrden(element.orden_pedido.estado)">
          {{ element.orden_pedido.estado }}
        </span> -->
        <span [class]="colorBadgeEstadoOrden(element.estado)">
          {{ element.estado }}
        </span>
      </td>
    </ng-container>

    <!--  -->
    <ng-container matColumnDef="tiene_observaciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiene Observaciones </th>
      <td mat-cell *matCellDef="let element">
        <!-- <span [class]="colorBadgeEstadoOrden(element.orden_pedido.estado)">
          {{ element.orden_pedido.estado }}
        </span> -->
        <span [ngClass]="{'badge':true, 'badge-success': element.observaciones != null, 'badge-secondary': element.observaciones == null }">
          {{ element.observaciones != null && 'SI' || 'NO' }}
        </span>
      </td>
    </ng-container>

    <!-- Detalles  -->
    <ng-container matColumnDef="detalle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
          (click)="detalle_orden_produccion(element)">Detalle</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="titulos_columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: titulos_columnas;"></tr>
  </table>
  </div>
</div>