<div class="">
  <h3>Orden de pedido</h3>
  <form [formGroup]="formOrdenPedido" (ngSubmit)="guardarOrdenPedido()">

    <div class="form-row">

      <div class="col-md-6">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Cliente</mat-label>
          <input matInput formControlName="cliente" placeholder="Cliente">
          <mat-error *ngIf="isInvalid_campo(cliente)">El cliente es <strong>requerido</strong></mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-6">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Prioridad</mat-label>
          <mat-select [formControl]="prioridad_id">
            <mat-option *ngFor="let item of prioridades; index as i" [value]="item['id']">{{item.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isInvalid_campo(prioridad_id)">Por favor seleccione una prioridad</mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-6">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Referencia</mat-label>
          <mat-select [formControl]="referencia_producto_id">
            <mat-option *ngFor="let item of referencias; index as i" [value]="item['id']">{{item.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isInvalid_campo(referencia_producto_id)">Por favor seleccione una referencia</mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-6">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Tipo</mat-label>
          <mat-select [formControl]="tipo_producto_id">
            <mat-option *ngFor="let item of tipos; index as i" [value]="item['id']">{{item.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isInvalid_campo(tipo_producto_id)">Por favor seleccione una tipo de producto</mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-6">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Presentacion</mat-label>
          <mat-select [formControl]="presentacion_producto_id">
            <mat-option *ngFor="let item of presentaciones; index as i" [value]="item['id']">{{item.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isInvalid_campo(presentacion_producto_id)">Por favor seleccione una presentacion de producto
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-6">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" [formControl]="cantidad">
          <mat-error *ngIf="isInvalid_campo(cantidad)">Por favor ingrese la cantidad</mat-error>
        </mat-form-field>

      </div>
    </div>
    <button type="submit" class="btn btn-primary">Generar Orden</button>
  </form>
  <hr size="10">

  <h3>Ordenes creadas</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Prioridad </th>
        <th scope="col">Referencia</th>
        <th scope="col">Tipo</th>
        <th scope="col">Presentacion</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orden of ordenes_pedido; index as i">
        <th scope="row">{{ i + 1}}</th>
        <td>{{ orden.cliente }}</td>
        <td>{{ orden.prioridad.descripcion}}</td>
        <td>{{ orden.receta.referencia_producto.descripcion }}</td>
        <td>{{ orden.receta.tipo_producto.descripcion }}</td>
        <td>{{ orden.presentacion_producto.descripcion }}</td>
        <td>{{ orden.cantidad }}</td>
        <td>
          <span [class]="colorBadgeEstadoOrden(orden.estado)">{{ orden.estado }}</span>
        </td>
      </tr>
    </tbody>
  </table>


</div>