.materias-primas {
  margin-top: 2rem;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-materias-primas {
  width: 60%;
}

.right {
  text-align: right;
}


.detalles {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.observaciones{
  font-size: 1.2rem;
}



@media (max-width: 991px) {
  .table-materias-primas {
    width: 100%;
  }
}

@media (min-width: 575px) and  (max-width: 767px) {
  .materias-primas {
    font-size: 1.1rem;
  
  }
  .observaciones{
    font-size: 1.1rem;
  }
}

@media (max-width: 575px){
  .materias-primas {
    font-size: 1rem;
  
  }
  .observaciones{
    font-size: 1rem;
  }
}

