<h2 mat-dialog-title>Detalle Orden Produccion: {{ data.id }}</h2>
<mat-dialog-content class="mat-typography">
  <div class="container detalles">


    <div class="row" *ngFor="let item of data_mostrar">
      <app-orden-detalle-interno ngClass="col-lg-6" *ngIf="item.col_left != null"
        [propiedad]="item.col_left.propiedad" [valor]="item.col_left.valor"
        [class_propiedad]="item.col_left.class_propiedad" 
        [class_valor]="item.col_left.class_valor">
        <span [innerHTML]="item.col_left.template"></span>

      </app-orden-detalle-interno>
      <app-orden-detalle-interno ngClass="col-lg-6"  *ngIf="item.col_right != null"
        [propiedad]="item.col_right.propiedad" [valor]="item.col_right.valor"
        [class_propiedad]="item.col_right.class_propiedad" 
        [class_valor]="item.col_right.class_valor">
        <span [innerHTML]="item.col_right.template"></span>
      </app-orden-detalle-interno>
      
    </div>


    <div class="row">
      <div class="materias-primas">
        <table class="table table-materias-primas">
          <thead>
            <tr>
              <th>Materia Prima</th>
              <th class="right">Toneladas</th>
              <th class="right">Porcentaje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data.orden_pedido.receta.materias_primas">
              <td>{{item.descripcion }}</td>
              <td align="right"> {{ materiaPrimaPorcentaje(item, data.cantidad) }} Ton</td>
              <td align="right">{{ item.MateriaPrimaReceta.porcentaje }}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div class="row">
    <div class="observaciones">
      Observaciones: {{ data.observaciones }}
    </div>
  </div>    

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="primary">Aceptar</button>
</mat-dialog-actions>